.padding-top-bottom-small{
	padding-top: 30px;
	padding-bottom: 30px;
}
.font-bold{
	font-weight: 500;
}
.font-bolder{
	font-weight: 800;
}

/*
 * Custom tyle for 16-by-9 image
 */
.sixteen-nine {
  position: relative;
}
.sixteen-nine:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.sixteen-nine > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}