.navbar.navbar{
	background-color: #275cbd;
}
.navbar-brand{
	color: white;
}
.nav.navbar-nav{
	color: white;
}
.menubar{
	color: white !important;
}
.menubar:hover{
	color: #275cbd !important;	
	background-color: white !important;
}
.navbar{
	margin-bottom: 0px !important;
}
h3.services-head{
	text-align: center;
	text-transform: uppercase;
	color: grey;
	font-weight: bold;
}
hr.services-head-line{
	height: 6px;
	width: 100%;
	background-color: #8ab5c2;
	margin-bottom: 0px;
}
img.direct-debit{
	margin-top: 10px;
	float: left;
}
.row.services-data{

}
h5.deposit{
	float: left;
	margin-left: 4px;
	font-weight: bold;
	margin-top: 10px;

}
h2.money{
	margin-top: 10px;
	text-align: center;
	font-size: 25px;
}
h4.logo{
	margin-left: 50px;
	text-align: left;
	font-weight: bold;
}
img.hours{
	float: left;
	margin-top: 10px;


}
h3.heading-hours{
	margin-top: 10px;
	font-weight: bold;
	margin-left: 50px;
	margin-bottom: 0px;
}
h4.satisfication{
	margin-top: 0px;
	margin-left: 50px;
	color: grey;
}
h2.big{
	margin-top: 8px;
	font-size: 30px;
	float: left;
}
h5.small{
	margin-top: 5px;
	font-weight: bold;
	margin-right: 0px;
	padding: 0px;

}
li.countries{
	font-size: 20px;
	padding: 10px !important;
	border: 1px solid lightgrey;
	margin-left: 0px;


}
.countries.col-md-6.right{
	background-color: #ffd924;

}
a.view{
	float: right;
	font-size: 20px;
	margin-top: 10px;
	color: blue;
}
.block{
	margin: 40px;

}
div.details{
	background-color: #f4f6f8;
}
h4.box-title{
	color : #275cbd !important;
}
.revolution-slider{
	height: 500px !important;
}
.container.quality{
	padding-left: 50px;
	padding-right: 50px;

}
#content{
	background-color: white !important		;
}
.content-position{
	padding: 0px;

}

h4.logo{
	margin-top: 10px;
}

img.atol{
	max-width: 40px;
	max-height: 40px;
	padding: 0px;
	margin-left: 0px;
}
.countries.row{
	margin-left: 0px;
	padding: 0px;

}

.col-sm-6.content{
	padding: 0px !important;
	padding-right: 15px !important;

}
.col-sm-6.img{
	padding: 0px !important;
	padding-right: 0px !important;
	padding-left: 10px !important;.
}